<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Cluckr</title>
</head>
<body>
  <nav>
    <% if (username) { %>
    <form action="/logout" method="POST">
      <input type="hidden" name="_method" value="DELETE" />
      <input type="submit" value="Logout" />
    </form>
    <% } else { %>
    <form action="/sign_in" method="GET">
      <input type="submit" value="sign_in" />
    </form>
    <% } %>
    <a href="/">Home</a>
    <a href="/clucks">Clucks</a>
    <a href="/clucks/new">New Clucks</a>
  </nav>
