<%- include("./partials/header") %>
  <form action="/clucks" method="POST">
    <input type="text" name="content"/>

    <button type="submit">Create Clucks</button>
  </form>
<%- include("./partials/footer") %>